.cell {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid green;
  background-color: gray;
  font-size: 20px;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}